<p style="float: right; margin: 1em 2em">
   <a
      href="https://github.com/antischematic/angular-state-library"
      target="_blank"
      rel="noopener nofollow"
   >View on Github</a
   >
</p>

Count: {{ count }}

<div>
   UserId:
   <input
      type="number"
      [value]="userId"
      (keydown.enter)="rootStore.setUserId(input.valueAsNumber)"
      (change)="rootStore.setUserId(input.valueAsNumber)"
      #input
   />
</div>

<ui-todos [userId]="userId"></ui-todos>

<ui-theme>
   <ui-counter>
      <ui-descendent></ui-descendent>
      <ui-theme [value]="greenTheme">
         <ui-descendent></ui-descendent>
      </ui-theme>
      <ui-theme [value]="blueTheme">
         <ui-double>
            <ui-descendent></ui-descendent>
            <ui-double></ui-double>
         </ui-double>
      </ui-theme>
   </ui-counter>
</ui-theme>

<button (click)="swapThemes()">Swap blue/green themes</button>

