<p style="float: right; margin: 1em 2em">
   <a
      href="https://github.com/mmuscat/angular-state-library"
      target="_blank"
      rel="noopener nofollow"
   >View on Github</a
   >
</p>

Count: {{ count }}

<div>
   UserId:
   <input
      type="number"
      [value]="userId"
      (keydown.enter)="userId = input.value"
      (change)="userId = input.value"
      #input
   />
</div>

<ui-todos [userId]="userId"></ui-todos>

<ui-counter [theme]="blueTheme">
   <ui-descendent></ui-descendent>
   <ui-double [theme]="greenTheme">
      <ui-descendent></ui-descendent>
      <ui-double></ui-double>
   </ui-double>
</ui-counter>

<button (click)="swapThemes()">Swap themes</button>

<ui-devtool></ui-devtool>
