<p style="float: right; margin: 1em 2em">
   <a
      href="https://github.com/antischematic/angular-state-library"
      target="_blank"
      rel="noopener nofollow"
   >View on Github</a
   >
</p>

Count: {{ count }}

<div>
   UserId:
   <input
      type="number"
      [value]="userId"
      (keydown.enter)="userId = input.value"
      (change)="userId = input.value"
      #input
   />
</div>

<ui-todos [userId]="userId"></ui-todos>

<Theme>
   <ui-counter>
      <Theme [value]="blueTheme">
         <ui-descendent></ui-descendent>
         <ui-double>
            <Theme [value]="greenTheme">
               <ui-descendent></ui-descendent>
            </Theme>
            <ui-double></ui-double>
         </ui-double>
      </Theme>
   </ui-counter>
</Theme>

<button (click)="swapThemes()">Swap themes</button>

