<style>
   :host {
      display: flex;
      margin: 0.2em 0;
   }
</style>

<input
   type="checkbox"
   [hidden]="!value.id"
   [checked]="value.completed"
   [disabled]="pending"
   (click)="$event.preventDefault(); toggleComplete(checkbox.checked)"
   #checkbox
/>
<input
   type="text"
   [disabled]="value.completed || pending"
   [value]="value.title"
   (keydown.enter)="updateText(text.value)"
   #text
/>
<button *ngIf="!value.id" (click)="updateText(text.value)">Create</button>

<ui-spinner *ngIf="pending"></ui-spinner>

Count: {{ root.count }}
