<style>
   :host {
      display: block
   }
   .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
   }
   .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #777777;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
   }
   .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
   }
   .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
   }
   .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
   }
   .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
   }
   @keyframes lds-ellipsis1 {
      0% {
         transform: scale(0);
      }
      100% {
         transform: scale(1);
      }
   }
   @keyframes lds-ellipsis3 {
      0% {
         transform: scale(1);
      }
      100% {
         transform: scale(0);
      }
   }
   @keyframes lds-ellipsis2 {
      0% {
         transform: translate(0, 0);
      }
      100% {
         transform: translate(24px, 0);
      }
   }
</style>

<div style="height: 80px; margin: 1em 1em 0">
   <div class="lds-ellipsis" *ngIf="pending"><div></div><div></div><div></div><div></div></div>
</div>

<h2>Add todo</h2>
<ui-todo (save)="createTodo($event)"></ui-todo>

<h2>{{ remaining.length }} todos remaining</h2>
<ui-todo
   *ngFor="let todo of remaining trackBy trackById"
   [value]="todo"
   (save)="updateTodo($event)"
></ui-todo>

<h2>{{ completed.length }} of {{ todos.length }} todos completed</h2>
<ui-todo
   *ngFor="let todo of completed"
   [value]="todo"
   (save)="updateTodo($event)"
></ui-todo>
