<div style="height: 40px; margin: 1em 0 0">
   <ui-spinner *ngIf="pending"></ui-spinner>
</div>

<h2>Add todo</h2>
<ui-todo (save)="createTodo($event)"></ui-todo>

<h2>{{ remaining.length }} todos remaining</h2>
<ui-todo
   *ngFor="let todo of remaining; trackBy: trackById"
   [value]="todo"
   (save)="updateTodo($event)"
></ui-todo>

<button
   style="margin: 2em 0"
   [disabled]="pending"
   (click)="toggleAll(remaining)"
>
   Toggle All
</button>

<h2>{{ completed.length }} of {{ todos.length }} todos completed</h2>
<ui-todo
   *ngFor="let todo of completed; trackBy: trackById"
   [value]="todo"
   (save)="updateTodo($event)"
></ui-todo>

<button
   style="margin: 2em 0"
   [disabled]="pending"
   (click)="toggleAll(completed)"
>
   Toggle All
</button>

<button (click)="shuffle()">Shuffle</button>

<style>
   :host {
      display: block
   }
</style>
