<style>
   :host {
      display: flex;
      margin: 0.2em 0;
   }
   .oops {
      margin-left: 0.5em;
      font-variant: all-small-caps;
      color: red;
   }
</style>

<input
   type="checkbox"
   [hidden]="!model.id"
   [(ngModel)]="model.completed"
   [disabled]="save.unstable"
   (ngModelChange)="saveTodo()"
   #checkbox
/>
<input
   type="text"
   [disabled]="model.completed || save.unstable"
   [(ngModel)]="model.title"
   (keydown.enter)="saveTodo()"
   #text
/>
<button *ngIf="!model.id" (click)="saveTodo()">Create</button>

<div class="oops" *ngIf="save.failed">Oops!</div>

<ui-spinner *ngIf="save.unstable"></ui-spinner>
